<div id="flash">
  {% if flash.notice %}
    <div class="flash notice"><%= flash.notice %>
      {{ flash.notice }}
    </div>  
  {% endif %}
  {% if flash.error %}
    <div class="flash errors">
      {{ flash.error }}
    </div>
  {% endif %}
</div>