<h1 id="head_logo">
  <a href="/" alt="Home">
    {% if shop.has_logo? %}
      <span>{{ shop.name }}</span>
      <img src="{{ shop.shop_logo | logo_size: 'header' }}">
    {% else %}
      <div class="generated_logo">
        <span>{{ shop.name | capitalize }}</span>
      </div>
    {% endif %}
  </a>
</h1>

