{% for category in categories %}

  {% if category.children.size != 0 %}
    {% assign class_name = "parent_category" %}
  {% else %}
    {% assign class_name = "" %}
  {% endif %}
  
  <li>
    <a href="{{ category.url }}" title="Categoría: {{ category.name }}" class="{{ class_name }}">{{category.name}}</a>
  </li>
  
  {% if category.children.size != 0 %}
    {% assign categories = category.children %}
    
    <ul class="children_list"> 
      {% include 'sidebar' %}
    </ul>
  {% endif %}
  
{% endfor %}
