/* @override 
	http://localhost:3000/assets/stylesheets/34/products.css
	http://localhost:3000/assets/stylesheets/37/products.css
	http://localhost:3000/assets/stylesheets/40/products.css */

/* 
**************************************
OmbuShop - Tu Tienda Online
**************************************
Theme: Wooden
File: products.css
**************************************
*/

/* === GENERALES */

html, body {
	height: 100%;
}
body {
	background-color: #34302b;
}
a {
	color: #39c;
}

/* === BLOQUES */

#header {

}
#sidebar {

}
#content {

}
#destacados-container {
	background: url(/themes/wooden/img/wooden-texture.jpg) repeat #494541;
	padding: 20px;
	clear: both;
}
#destacados-container #destacados-content {
	background: #fff;
	height: 150px; /* momentaneo para bocetar */
}
#wrapper {
	background: #ddd;
}

/* === HEADER */

h1 {
	font-family: 'Kaushan Script', cursive;
	/*font-family: 'Chango', cursive;*/
	font-size: 36px;
	color: #ddd;
}
h1 a {
	color: #ddd;
	text-decoration: none;
}