/* @override 
	http://localhost:3000/assets/stylesheets/34/products.css */

/* 
**************************************
OmbuShop - Tu Tienda Online
**************************************
Theme: Minimost
File: products.css
**************************************
*/

body {
  background: #FFFFFF; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #EEE 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EEE)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EEE',GradientType=0 ); /* ie */
  color:#111;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0;
}
body.one-col #content {
  display: inline;
  float: left;
  width: 950px;
}
body.two-col #content {
  display: inline;
  float: left;
  width: 750px;
}
a img{border:none;}
h1 { font-size: 2.5em; }
input.title { width: auto; }
p.follow-all {
  font-size: 1.3em;
  text-align: center;
  display: block;
}
p img {
  float: left;
  margin-right: 5px;
  vertical-align: middle;
}
.form-buttons, .clear { clear: both; }
.space{
  border: none;
}
.no_margin_or_padding{
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: block;
}
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
div.left {
  float: left;
  width: 49%;
}
div.right {
  float: right;
  width: 49%;
}
a { outline: none; }
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
}

#wrapper {
  clear:left;
  padding: 25px 20px 20px;
  position: relative;
  min-height: 500px;
}
#content {
  min-height: 500px;
}
#nav-bar {
  line-height: 30px;
  float: right;
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0 10px 0;
}
#nav-bar li {
  float: left;
  margin-left: 0.5em;
}
ul#nav-bar {
  line-height: 50px;
  float: right;
  clear: both;
  font-size: 1.2em;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#nav-bar li {
  float: left;
  margin-left: 1em;
}
#nav-bar a{
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  opacity: 0.8;
  padding: 2px 8px;
  text-shadow: 0 1px 0 white;
}
#nav-bar a:hover{
  opacity:1;
}
#nav-bar form{
    -moz-border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;
    background-color: #EEEEEE;
    border: 1px solid #DDD;
    border-top:none;
    padding: 5px 15px;
}
#sidebar {
  display: inline;
  float: left;
  width: 174px;
  margin-right: 25px;
	
  /*border-right: 1px solid #d0d0d0;*/
}
#sidebar h3 { margin-bottom: 0.5em; }
.navigation-list {
  list-style: none;
  margin: 0;
}
.navigation-list li { margin: 0; }
.navigation-list li a {
  cursor: pointer !important;
  text-decoration: none;
  color: #444;
  display: block;
  font-size: 12px;
  line-height: 1.4em;
  padding: 5px 0 5px 11px;
	white-space: nowrap;
  overflow: hidden;
  border-left: 3px solid #eee;
	margin-bottom: 5px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;	
}
.navigation-list ul li a{
	font-size: 11px;
	padding-left: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-left-width: 1px;
	border-left-color: #fff;
}
.navigation-list ul li a:hover {
	border-left-width: 1px;
	padding-left: 32px;
}
.navigation-list ul li.current > a {
	white-space: nowrap;
  overflow: hidden;
  /*background-color: #eee;*/
	border-left: 1px solid #8b8b8b;
	width: 166px;
	color: #000;
}
.navigation-list li a:hover {
	background-color: #eee;
  border-left: 3px solid #dedede;
	padding-left: 20px;
}
.navigation-list li.current {  }
.navigation-list li.current > a {
	white-space: nowrap;
  overflow: hidden;
  /*background-color: #eee;*/
	border-left: 3px solid #000;
	width: 166px;
	font-weight: bold;
	color: #000;
}
.navigation-list li.current a.root { width: 183px; }
.navigation-list a.root{
  text-indent: 0;
}
.breadcrumbs {
	margin-bottom: 1.7em;
	font-size: 12px;
}
.breadcrumbs ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.breadcrumbs ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.breadcrumbs ul li {
  line-height: 20px;
  color: #666666;
}
.breadcrumbs ul li a {
  text-decoration: none;
  padding: 5px 7px;
  color: #666666;
}
.breadcrumbs ul li span {
  text-decoration: none;
  padding: 5px 7px;
  color: #666666;
}
.breadcrumbs ul li span { color: #333333; }
ul#language-bar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
ul#language-bar li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
ul#language-bar strong { font-weight: normal; }
.pagination a.page {
  padding: 0px 5px;
  margin: 0px 3px;
  text-decoration: none;
  border: 1px solid #9aafe5;
  color: #2e6ab1;
}
.pagination a.page:hover {
  border: 1px solid #2b66a5;
  color: #000000;
}
.pagination a.page:active {
  border: 1px solid #2b66a5;
  color: #000000;
}
.pagination span.page {
  padding: 0px 5px;
  margin: 0px 3px;
}
.pagination a.next_page { font-weight: bold; }
.pagination span.disabled_page {
  border: 1px solid #929292;
  color: #929292;
}
.pagination span.current_page {
  font-weight: bold;
  border: 1px solid;
  border-color: #162f54;
  background-color: #2e6ab1;
  color: #ffffff;
}

.flash {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
}
.flash.notice {
  background: #23DB89;
  color: white;
  border: 1px solid #99aacc;
}
.flash.errors {
  background: #f4b4b4 url(/images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(/images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError p { margin: 0px; }
.formError ul { margin-bottom: 0px; }
.formError h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.errorExplanation {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(/images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.errorExplanation p { margin: 0px; }
.errorExplanation ul { margin-bottom: 0px; }
.errorExplanation h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.fieldWithErrors { clear: none; }

button.large, a.button.large, input.button.large {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: 1.4em !important;
  line-height: 1.4em;
}
button.small, a.button.small, input.button.small {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 5px 10px;
}
button.small img { margin: 0 3px 0 0 !important; }
a.button.small img { margin: 0 3px 0 0 !important; }
input.button.small img { margin: 0 3px 0 0 !important; }
button.update img { margin-right: 7px; }
button.checkout img { margin-right: 7px; }
a.button.update img { margin-right: 7px; }
a.button.checkout img { margin-right: 7px; }
input.button.update img { margin-right: 7px; }
input.button.checkout img { margin-right: 7px; }
button img { vertical-align: middle;   padding-right: 8px;}
button img { vertical-align: middle; }
a.button img { vertical-align: middle; }
input.button img { vertical-align: middle; }
button:focus { outline: none; }
a.button:focus { outline: none; }
input.button:focus { outline: none; }
button::-moz-focus-inner {
  padding: 0px;
  border: none;
}
p a.button img { margin: 0 5px 0 0; }
p button img { margin: 0 5px 0 0; }
.prices { font-weight: bold; }
.prices #product-details .prices { font-size: 1.25em; }
.price.selling { color: #2e6ab1; }
#product-details .price.selling { font-size: 1.5em; }
.price.diff {
  font-style: italic;
  font-weight: normal;
  color: #666666;
}

.product-listing {
  float: left;
  width: 100%;
  list-style: none;
  margin: -10px 0 0;
  padding: 0;
}
.product-listing li {
  border: 1px solid #d0d0d0;
  height: 290px;
  min-height: 230px;
  min-width: 140px;
  text-align: center;
  float: left;
  margin: 10px;
  position: relative;
}
.product-listing li img{
	width: 220px;
}
.product-listing li a {
  display: block;
  text-decoration: none;
  color: #111111;
}
.product-listing li a.info {
  background: #ffffff url(/images/shadow_top.png) 0px -35px repeat-x;
  border-top:1px solid #CCC;
  bottom: 0px;
  color: #666;
  font-size: 12px;
  font-weight: bold;
  left: 0px;
  min-height: 60px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  width: 95.5%;
}
.product-listing li a.info span {
  color: #CCC;
  display: block;
  font-size: 16px;
}
.product-listing li:hover { border-color: #1b1b1b; }
.product-listing li:hover a.info {
  background: #1b1b1b url(/images/bottom_shine.png) bottom left repeat-x;
  color: #ffffff;
}

ul.thumbnails {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.thumbnails li {
  float: left;
  margin-right: 5px;
  padding: 3px;
  border: 1px solid #ffffff;
  min-height: 50px;
  width: 50px;
  position: relative;
}
ul.thumbnails li img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
ul.thumbnails li:hover { border-color: #cccccc; }
ul.thumbnails li.selected { border-color: #999999; }
#thumbnails {
  margin-top: 20px;
}

#product-variants { margin-bottom: 1em; }
#product-variants ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#product-images {
  display: inline;
  float: left;
  width: 270px;
  margin-right: 10px;
}
#product-images h4 {
  padding: 6px 0px;
  margin: 0px;
  font-weight: bold;
  clear: both;
}
#product-images #main-image {
  border-right: 1px solid #EEE;
  min-height: 250px;
  position: relative;
}
#product-images #main-image img {
  position: absolute;
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  margin: auto;
}
#product-description {
  display: inline;
  float: left;
  width: 310px;
  margin-right: 10px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
#product-description p{
   color: #222222;
   line-height: 1.3em;
}

#cart-form {
  display: inline;
  float: left;
  margin-bottom: 40px;
  width: 240px;
}
#cart-form button.large{
	font-size: 14px !important;
	padding: 5px 10px;
}
#cart-form input{
    font-size: 16px;
    padding: 4px;
    text-align: right;
}
#cart-form buttom{
    font-size: 1em !important;
    line-height: 1.2em !important;
}
#taxon-crumbs {
  clear: left;
  display: block;
  float: left;
  width: 950px;
  margin-left: 20px;
  margin-top: 10px;
  width: 228px;
}
#taxon-crumbs h3{font-size: 16px;}
dl.table-display {
  margin: 0;
  padding: 0;
  font-size:12px;
}
dl.table-display dt {
    border-top: 1px solid #DDDDDD;
    color: #999999;
    float: left;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
    word-wrap: break-word;
}
dl.table-display dd {
  border-top: 1px solid #dddddd;
  float: left;
  margin: 0;
  padding: 5px;
  word-wrap: break-word;
}
dl.table-display dt { width: 100px; }
dl.table-display dd { width: 180px; }

div#subtotal {
  float: right;
  width: 49%;
  width: auto;
  text-align: left;
}
table { border-collapse: collapse; }
table th {
  background: transparent;
  border-bottom: 1px solid #dddddd;
}
table#cart tr td {
  border-bottom: 1px solid #dddddd;
  padding: 1em 0;
}
table#cart tr#none td { border-bottom: none; }
table#cart h4 { margin-bottom: 0em; }

#signup #new-customer {
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
}
#signup #new-customer h2 { margin-bottom: 0.25em; }
#signup #new-customer p { margin-bottom: 10px; }
#signup #new-customer p input.title {
  padding: 3px;
  margin: 0px;
}
#signup #new-customer input[type=checkbox] { top: 0em; }
#login #existing-customer {
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
}
#login #existing-customer h2 { margin-bottom: 0.25em; }
#login #existing-customer p { margin-bottom: 10px; }
#login #existing-customer p input.title {
  padding: 3px;
  margin: 0px;
}
#login #existing-customer input[type=checkbox] { top: 0em; }
input.openid_url {
  background: #ffffff url(/images/openid-inputicon.gif) no-repeat scroll 0pt 50%;
  padding-left: 18px;
  border: 1px solid #bbbbbb;
  font-size: 1.5em;
}

ol.progress-steps {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 12px;
}
ol.progress-steps li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  float: left;
  color: #999999;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(/images/step-progress/incomplete-incomplete.gif);
}
ol.progress-steps li span {
  padding: 5px 14px 7px 24px;
  display: block;
  float: left;
  background-position: top right;
  background-repeat: no-repeat;
}
ol.progress-steps li a {
  text-decoration: none;
  color: #333333;
}
ol.progress-steps li.current-first span { padding-left: 14px; }
ol.progress-steps li.completed-first span { padding-left: 14px; }
ol.progress-steps li.current-first { background-image: url(/images/step-progress/current-first.gif); }
ol.progress-steps li.completed-first { background-image: url(/images/step-progress/completed-first.gif) !important; }
ol.progress-steps li.current { color: #ffffff; }
ol.progress-steps li.current-first { color: #ffffff; }
ol.progress-steps li.current-last { color: #ffffff; }
ol.progress-steps li.completed { background-image: url(/images/step-progress/completed-completed.gif); }
ol.progress-steps li.current { background-image: url(/images/step-progress/completed-current.gif); }
ol.progress-steps li.current-last { background-image: url(/images/step-progress/completed-current.gif); }
ol.progress-steps li.next { background-image: url(/images/step-progress/current-incomplete.gif); }
ol.progress-steps li.next-last { background-image: url(/images/step-progress/current-incomplete.gif); }
ol.progress-steps li.last span { background-image: url(/images/step-progress/incomplete-right.gif); }
ol.progress-steps li.next-last span { background-image: url(/images/step-progress/incomplete-right.gif); }
ol.progress-steps li.current-last span { background-image: url(/images/step-progress/current-right.gif); }

div#checkout { position: relative; }
div#checkout .progress-steps {
  position: absolute;
  top: 0.5em;
  right: 0;
}
div#checkout form {
  background-position: top right;
  background-repeat: no-repeat;
}
div#checkout #checkout_form_address { background-image: url("/images/steps/2.png"); }
div#checkout #checkout_form_delivery { background-image: url("/images/steps/3.png"); }
div#checkout #checkout_form_address #billing label,
div#checkout #checkout_form_address #shipping label {
  width: 190px;
  float: left;
  padding-right: 10px;
  text-align: right;
}
div#checkout #checkout_form_address #billing input,
div#checkout #checkout_form_address #shipping input,
div#checkout #checkout_form_address #billing select,
div#checkout #checkout_form_address #shipping select { width: 304px; }
div#checkout #checkout_form_address #billing p.checkbox,
div#checkout #checkout_form_address #shipping p.checkbox,
div#checkout #checkout_form_address .form-buttons { padding-left: 200px; }
div#checkout #checkout_form_address #billing p.checkbox label,
div#checkout #checkout_form_address #shipping p.checkbox label {
  width: auto !important;
  float: none !important;
}
div#checkout #checkout_form_address #billing p.checkbox input,
div#checkout #checkout_form_address #shipping p.checkbox input { width: auto !important; }
div#checkout #checkout_form_payment { background-image: url("/images/steps/5.png"); }
div#checkout #checkout_form_payment select { width: 75px; }
div#checkout #checkout_form_payment #payment {
  display: inline;
  float: left;
  width: 310px;
  margin-right: 10px;
}
div#checkout #checkout_form_payment #order_details {
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
}
div#checkout #payment-methods {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 720px;
}
div#checkout #payment-methods li {
  display: block;
  display: inline;
  float: left;
  width: 190px;
  margin-right: 10px;
}
div#checkout #payment-methods li.last {
  display: inline;
  float: left;
  width: 190px;
}
div#checkout #checkout-summary {
  background-color: #c3c9df;
  float: right;
  margin-top: 10px;
  padding: 20px;
  width: 180px;
}
div#checkout #checkout-summary {
  background-color: #c3c9df;
  float: right;
  margin-top: 10px;
  padding: 20px;
  width: 180px;
}


/*
################################
###        ZOOM CLOUD        ###
################################
documentation: http://www.professorcloud.com/mainsite/cloud-zoom-integration.htm
*/

/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 4px solid #888;
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;	
	cursor:move;		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	border:1px solid #ccc;
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}

