/* @override 
	http://localhost:3000/assets/stylesheets/34/products.css
	http://localhost:3000/assets/stylesheets/37/products.css
	http://localhost:3000/assets/stylesheets/40/products.css */

/* 
**************************************
OmbuShop - Tu Tienda Online
**************************************
Theme: Wooden
File: products.css
**************************************
*/

