/* @override 
	http://localhost:3000/assets/stylesheets/34/shop.css
	http://localhost:3000/assets/stylesheets/37/shop.css
	http://localhost:3000/assets/stylesheets/40/shop.css */

/* 
**************************************
OmbuShop - Tu Tienda Online
**************************************
Theme: Wooden
File: shop.css
**************************************
*/

