/*******************************************************************************
OmbuShop - Github theme page
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color: #444;
  background: #E0EFEC;
  font-size: 16px;
  font-family: "Lato", "Georgia", "Lucida Sans", Verdana, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
h3 {
  font-size: 1.2em;
  margin-top: 1.3em;
}
img {
  width: 80%;
  height: auto;
  margin: 20px auto;
  display: block;
}
a {
  color: #FF8C2F;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  font-size: 1.05em;
}

/* ================================== */
/* HEADER */

#header_wrap {
  background: #4A382F;
  box-shadow: rgba(0,0,0,.4) 0 3px 18px inset,
              rgba(0,0,0,.3) 0 3px 4px;
  height: 70px;
  padding-right: 20px;
  padding-left: 20px;
}
header {
  padding-top: 1px;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}
#ombushop_logo {
  background: url('../images/ombushop-logo.png') no-repeat top left;
  width: 155px;
  height: 41px;
  text-indent: -20000px;
  display: block;
  margin-top: 13px;
}
#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 0;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #2BA47D no-repeat 95% 50%;
  font-size: .8em;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-decoration: none;
  -webkit-transition: 200ms padding;
  -moz-transition: 200ms padding;
  -ms-transition: 200ms padding;
  -o-transition: 200ms padding;
  transition: 200ms padding;
}
#forkme_banner:hover {
  padding-top: 20px;
}
a.download_link {
  font-weight: 400;
  display: inline-block;
  margin: 5px;
  padding: 8px 20px;
  background: #FF8C2F;
  color: #fff;
  border-radius: 3px;
}
a.download_link:hover {
  text-decoration: none;
  box-shadow: rgba(255,255,255,.3) 0 3px 3px inset,
              rgba(0,0,0,.3) 0 -3px 3px inset;
  background: #ff8f00;
}
a.download_link:active {
  text-decoration: none;
  box-shadow: rgba(255,255,255,.3) 0 -3px 3px inset,
              rgba(0,0,0,.3) 0 3px 3px inset;
  background: #d3660f;
}

/* ================================== */
/* MAIN CONTENT */

#main_content {
  background: #fff;
  max-width: 660px;
  padding: 20px 20px 40px 20px;
}
#main_content header {
  background: #ffffdf;
  margin: -20px -20px 2em -20px;
  padding: 20px 20px 30px 20px;
  border-bottom: #f1f1d1 1px solid;
}
#downloads {
  text-align: center;
}
#project_title {
  font-family: "Lato", "Georgia", "Lucida Sans", Verdana, Arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
  line-height: 1;
  color: #2BA47D;
  margin-bottom: 0;
  text-align: center;
}
#project_tagline {
  font-family: "Lato", "Georgia", "Lucida Sans", Verdana, Arial, sans-serif;
  font-weight: 700;
  font-size: .9em;
  color: #4a382f;
  margin-top: .6em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
}

/* ================================== */
/* FOOTER */

#footer_wrap {
  background: #4A382F;
  color: #fff;
  padding: 20px 0;
  border-top: #41312a 4px solid;
  padding-right: 20px;
  padding-left: 20px;
}
footer {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

/* ================================== */
/* CODE */

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}
code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
pre code {
  display: block;
  box-shadow: none;
}


/* ================================== */
/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
  p {
    font-size: 1.05em;
  }
  #header_wrap {
    height: 100px;
  }
  #main_content {
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
    margin: -30px auto 20px;
    border-radius: 5px;
    overflow: hidden;
  }
  #main_content_wrap {
    padding-right: 20px;
    padding-left: 20px;
  }
  #project_title {
    font-size: 2.7em;
  }
  #project_tagline {
    font-size: .8em;
  }
}

@media screen and (min-width: 926px) {
  #project_title {
    font-size: 2.4em;
  }
  #project_tagline {
    font-size: 1.2em;
  }
}