<!--
Template: Wooden
File: contact.liquid
-->

<div class="static-page-wrapper grid_8">
	<h2>{{ page.title }}</h2>
	<div id="content" class="page">
    <form id="contact-form">
      <div id="email-input">
        <label for="email">Email</label>
        <input id="email" type="text" name="email" />
      </div>
      <div id="subject-input">
        <label for="subject">Asunto</label>
        <input id="subject" type="text" name="subject" />
      </div>
      <label for="message">Mensaje</label>
      <textarea id="message" name="message" rows="5" cols="75"></textarea>
      <input type="submit" value="Enviar" />
    </form>
  </div>
</div>

<div id="sidebar" class="grid_2 omega">
	<div id="search_bar">
    <form accept-charset="UTF-8" action="/products" method="get">
      <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓">
      </div>
      <label for="keywords">Buscar:</label>
      <input id="keywords" name="keywords" type="text" value="{{ keywords }}">
      <input type="submit" value="Buscar">
    </form>
  </div>
  {% include 'sidebar' %}
</div>

<div class="clear">&nbsp;</div>
